<a href="https://colab.research.google.com/github/rodr1ggoql17/Sistema-de-base-de-datos/blob/main/tarea_1_SISTEMA_DE_BASE_DE_DATOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Para que este codigo funcione debemos incluir los archivos 'Players.csv' y 'Teams.csv'

In [ ]:
import pandas as pd

In [ ]:
# Leer los jugadores y equipos en dataframes [Players.csv] y [Teams.csv].
df_players = pd.read_csv('Players.csv')
df_teams = pd.read_csv('Teams.csv')
display(df_teams)

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0
5,Germany,6,6,4,0,2,13,3,8,1
6,Argentina,7,5,4,0,1,10,6,7,0
7,England,8,4,1,2,1,3,5,6,0
8,France,9,3,0,1,2,1,4,6,1
9,Greece,13,3,1,0,2,2,5,5,0
10,USA,14,4,1,2,1,5,5,9,0
11,Serbia,15,3,1,0,2,2,3,8,1
12,Uruguay,16,6,3,2,1,9,5,8,2
13,Mexico,17,4,1,1,2,4,5,9,0
14,Chile,18,4,2,0,2,3,5,13,1
15,Cameroon,19,3,0,0,3,2,5,5,0
16,Australia,20,3,1,1,1,3,6,7,2
17,Nigeria,21,3,0,1,2,3,5,5,1
18,Switzerland,24,3,1,1,1,1,1,8,1
19,Slovenia,25,3,1,1,1,3,3,9,0
20,Ivory Coast,27,3,1,1,1,4,3,5,0
21,Algeria,30,3,0,1,2,0,2,4,2
22,Paraguay,31,5,1,3,1,3,2,9,0
23,Ghana,32,5,2,2,1,5,4,11,0
24,Slovakia,34,4,1,1,2,5,7,11,0
25,Denmark,36,3,1,0,2,3,6,6,0
26,Honduras,38,3,0,1,2,0,3,7,0
27,Japan,45,4,2,1,1,4,2,7,0
28,South Korea,47,4,1,1,2,6,8,6,0
29,New Zealand,78,3,0,3,0,2,2,6,0
30,South Africa,83,3,1,1,1,3,5,4,1
31,North Korea,105,3,0,0,3,1,12,2,0

In [ ]:
# Qué jugador en un equipo con "ou" en el nombre, jugó mas de 190 minutos e hizo más de 100 pases? Imprima el apellido del jugador.
df_surnames = df_players[df_players.surname.str.contains('ou')&(df_players.minutes > 190)&(df_players.passes > 100)]
df_surnames

,surname,team,position,minutes,shots,passes,tackles,saves
78,Assou-Ekotto,Cameroon,defender,270,0,116,5,0
89,Makoun,Cameroon,midfielder,210,4,164,2,0
93,N'Koulou,Cameroon,defender,253,0,152,4,0
119,Christian Poulsen,Denmark,midfielder,270,1,179,7,0
155,Abou Diaby,France,midfielder,270,1,111,5,0
216,Katsouranis,Greece,midfielder,234,2,115,4,0
274,Eboue,Ivory Coast,defender,251,3,126,6,0
282,Yaya Toure,Ivory Coast,midfielder,270,3,197,5,0
371,Ahn Young-Hak,North Korea,midfielder,270,1,123,11,0
512,Lee Young-Pyo,South Korea,defender,360,2,160,2,0

In [ ]:
# ¿Cuál es el promedio, máximo y mínimo de pases de los defensas y delanteros?
print('Delanteros')
df_forward = df_players[df_players.position == 'forward']
print('Promedio pases: ', df_forward['passes'].mean())
print('Max pases: ', df_forward['passes'].max())
print('Min pases: ', df_forward['passes'].min(),'\n')

print('Defensas')
df_defender = df_players[df_players.position == 'defender']
print('Promedio pases: ', df_defender['passes'].mean())
print('Max pases: ', df_defender['passes'].max())
print('Min pases: ', df_defender['passes'].min())

Delanteros
Promedio pases:  50.82517482517483
Max pases:  321
Min pases:  0

Defensas
Promedio pases:  102.6436170212766
Max pases:  402
Min pases:  0

In [ ]:
'''
¿Qué equipo tiene el mayor ratio de 'goalsFor' y 'goalsAgainst'? Imprimir sólo el nombre del equipo.
¿Cuántos jugadores que juegan en un equipo con ranking <5 jugaron más de 400 minutos?
Calcule por cada equipo la diferencia entre el jugador que da menos pases con el que da más pases. (use función groupby, agg con función lambda)
'''
goalsFor_max = df_teams['goalsFor'].max()
df_aux = df_teams[df_teams.goalsFor==goalsFor_max]
print('El equipo con más goalsFor es: ', df_aux.team)

goalsAgainst_max = df_teams['goalsAgainst'].max()
df_aux2 = df_teams[df_teams.goalsAgainst==goalsAgainst_max]
print('El equipo con más goalsAgainst es: ', df_aux2.team)

El equipo con más goalsFor es:  5    Germany
Name: team, dtype: object
El equipo con más goalsAgainst es:  31    North Korea
Name: team, dtype: object

In [ ]:
# ¿Cuántos jugadores que juegan en un equipo con ranking < 5 jugaron más de 400 minutos?
df_united = pd.merge(df_players,df_teams,how='left')
df_united.head(20)

,surname,team,position,minutes,shots,passes,tackles,saves,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Abdoun,Algeria,midfielder,16,0,6,0,0,30,3,0,1,2,0,2,4,2
1,Belhadj,Algeria,defender,270,1,146,8,0,30,3,0,1,2,0,2,4,2
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,30,3,0,1,2,0,2,4,2
3,Bougherra,Algeria,defender,270,1,89,11,0,30,3,0,1,2,0,2,4,2
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,30,3,0,1,2,0,2,4,2
5,Djebbour,Algeria,forward,123,3,19,1,0,30,3,0,1,2,0,2,4,2
6,Ghezzal,Algeria,forward,40,3,8,0,0,30,3,0,1,2,0,2,4,2
7,Guedioura,Algeria,midfielder,38,0,18,1,0,30,3,0,1,2,0,2,4,2
8,Halliche,Algeria,defender,270,2,94,4,0,30,3,0,1,2,0,2,4,2
9,Kadir,Algeria,midfielder,262,0,104,3,0,30,3,0,1,2,0,2,4,2
10,Lacen,Algeria,midfielder,270,0,158,8,0,30,3,0,1,2,0,2,4,2
11,M'Bolhi,Algeria,goalkeeper,180,0,30,0,12,30,3,0,1,2,0,2,4,2
12,Matmour,Algeria,midfielder,255,3,68,3,0,30,3,0,1,2,0,2,4,2
13,Mesbah,Algeria,midfielder,1,0,1,0,0,30,3,0,1,2,0,2,4,2
14,Saifi,Algeria,forward,15,1,3,0,0,30,3,0,1,2,0,2,4,2
15,Yahia,Algeria,defender,269,1,79,4,0,30,3,0,1,2,0,2,4,2
16,Yebda,Algeria,midfielder,269,8,138,10,0,30,3,0,1,2,0,2,4,2
17,Ziani,Algeria,midfielder,240,5,93,6,0,30,3,0,1,2,0,2,4,2
18,Aguero,Argentina,forward,106,2,57,2,0,7,5,4,0,1,10,6,7,0
19,Bolatti,Argentina,midfielder,98,2,97,4,0,7,5,4,0,1,10,6,7,0

In [ ]:
df_united[(df_united.ranking < 5)&(df_united.minutes > 400)]

,surname,team,position,minutes,shots,passes,tackles,saves,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
60,Fabiano,Brazil,forward,418,9,89,4,0,1,5,3,1,1,9,4,7,2
62,Gilberto Silva,Brazil,midfielder,450,3,299,11,0,1,5,3,1,1,9,4,7,2
65,Juan,Brazil,defender,450,4,223,9,0,1,5,3,1,1,9,4,7,2
66,Julio Cesar,Brazil,goalkeeper,450,0,69,0,10,1,5,3,1,1,9,4,7,2
69,Lucio,Brazil,defender,450,1,223,14,0,1,5,3,1,1,9,4,7,2
70,Maicon,Brazil,defender,450,6,249,11,0,1,5,3,1,1,9,4,7,2
72,Michel Bastos,Brazil,defender,422,7,224,14,0,1,5,3,1,1,9,4,7,2
323,Heitinga,Netherlands,defender,540,0,259,10,0,4,6,6,0,0,12,5,15,0
325,Kuyt,Netherlands,forward,516,11,248,7,0,4,6,6,0,0,12,5,15,0
326,Mathijsen,Netherlands,defender,450,1,265,8,0,4,6,6,0,0,12,5,15,0
329,Sneijder,Netherlands,midfielder,532,15,279,7,0,4,6,6,0,0,12,5,15,0
330,Stekelenburg,Netherlands,goalkeeper,540,0,149,0,15,4,6,6,0,0,12,5,15,0
333,de Jong,Netherlands,midfielder,448,1,250,15,0,4,6,6,0,0,12,5,15,0
335,van Bommel,Netherlands,midfielder,540,2,307,31,0,4,6,6,0,0,12,5,15,0
336,van Bronckhorst,Netherlands,defender,540,1,271,10,0,4,6,6,0,0,12,5,15,0
337,van Persie,Netherlands,forward,479,14,108,1,0,4,6,6,0,0,12,5,15,0
517,Alonso,Spain,midfielder,506,9,465,18,0,2,6,5,0,1,7,2,3,0
519,Busquets,Spain,midfielder,511,0,466,15,0,2,6,5,0,1,7,2,3,0
520,Capdevila,Spain,defender,540,1,310,10,0,2,6,5,0,1,7,2,3,0
521,Casillas,Spain,goalkeeper,540,0,67,0,11,2,6,5,0,1,7,2,3,0
523,Iniesta,Spain,midfielder,437,8,299,11,0,2,6,5,0,1,7,2,3,0
530,Pique,Spain,defender,540,2,402,15,0,2,6,5,0,1,7,2,3,0
531,Puyol,Spain,defender,534,3,254,8,0,2,6,5,0,1,7,2,3,0
532,Ramos,Spain,defender,527,9,299,7,0,2,6,5,0,1,7,2,3,0
535,Villa,Spain,forward,529,22,169,2,0,2,6,5,0,1,7,2,3,0
536,Xavi,Spain,midfielder,515,4,563,6,0,2,6,5,0,1,7,2,3,0